{
  "swagger": "2.0",
  "info": {
    "title": "Azure Maps Asynchronous Batch Management Service",
    "version": "2024-04-01-preview",
    "description": "Azure Maps Asynchronous Batch Management REST APIs"
  },
  "host": "atlas.microsoft.com",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "AADToken": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "These are the [Azure Active Directory OAuth2](https://docs.microsoft.com/azure/active-directory/develop/v1-overview) Flows. When paired with [Azure role-based access](https://docs.microsoft.com/azure/role-based-access-control/overview) control it can be used to control access to Azure Maps REST APIs. Azure role-based access controls are used to designate access to one or more Azure Maps resource account or sub-resources. Any user, group, or service principal can be granted access via a  built-in role or a custom role composed of one or more permissions to Azure Maps REST APIs.\n\nTo implement scenarios, we recommend viewing [authentication concepts](https://aka.ms/amauth). In summary, this security definition provides a solution for modeling application(s) via objects capable of access control on specific APIs and scopes.\n\n> [!NOTE]\n> * This security definition **requires** the use of the `x-ms-client-id` header to indicate which Azure Maps resource the application is requesting access to. This can be acquired from the [Maps management API](https://aka.ms/amauthdetails).\n> * The `Authorization URL` is specific to the Azure public cloud instance. Sovereign clouds have unique Authorization URLs and Azure Active directory configurations. \n> * The Azure role-based access control is configured from the [Azure management plane](https://aka.ms/amrbac) via Azure portal, PowerShell, CLI, Azure SDKs, or REST APIs.\n> * Usage of the [Azure Maps Web SDK](https://aka.ms/amaadmc) allows for configuration based setup of an application for multiple use cases.\n> * Currently, Azure Active Directory [v1.0 or v2.0](https://docs.microsoft.com/azure/active-directory/develop/azure-ad-endpoint-comparison) supports Work, School, and Guests but does not support Personal accounts.\n\n",
      "scopes": {
        "https://atlas.microsoft.com/.default": "https://atlas.microsoft.com/.default"
      }
    },
    "AzureKey": {
      "type": "apiKey",
      "description": "This is a shared key that is provisioned when creating an [Azure Maps resource](https://aka.ms/amauth) through the Azure management plane  via Azure portal, PowerShell, CLI, Azure SDKs, or REST APIs.\n\n With this key, any application is authorized to access  all REST APIs. In other words, these can currently be treated as master keys to the account which they are issued for.\n\n For publicly exposed applications, our recommendation is to use server-to-server access of Azure Maps REST APIs where this key can be  securely stored.",
      "name": "subscription-key",
      "in": "header"
    },
    "SasToken": {
      "type": "apiKey",
      "description": "This is a shared access signature token is created from the List SAS operation on the [Azure Maps resource](https://aka.ms/amauth) through the Azure management plane via Azure portal, PowerShell, CLI, Azure SDKs, or REST APIs.\n\n With this token, any application is authorized to access with Azure role-based access controls and fine-grain control to the expiration, rate, and region(s) of use for the particular token. In other words, the SAS Token can be used to allow applications to control access in a more secured way than the shared key.\n\n For publicly exposed applications, our recommendation is to configure a specific list of allowed origins on the [Map account resource](https://aka.ms/amauth) to limit rendering abuse and regularly renew the SAS Token.",
      "name": "SAS Token",
      "in": "header"
    }
  },
  "security": [
    {
      "AADToken": [
        "https://atlas.microsoft.com/.default"
      ]
    },
    {
      "AzureKey": []
    },
    {
      "SasToken": []
    }
  ],
  "responses": {},
  "parameters": {
    "ApiVersion": {
      "name": "api-version",
      "description": "Version number of Azure Maps API.",
      "type": "string",
      "in": "query",
      "required": true,
      "x-ms-parameter-location": "client"
    },
    "OperationId": {
      "name": "operationId",
      "type": "string",
      "in": "path",
      "required": true
    }
  },
  "paths": {
    "/asyncBatch/operations/{operationId}": {
      "get": {
        "description": "Get the status of a specific asynchronous batch operation by its operation ID.",
        "operationId": "AsyncBatch_GetSpecificOperation",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get a not started operation status": {
            "$ref": "./examples/GetSpecificOperationStatusNotStarted.json"
          },
          "Get a running operation status": {
            "$ref": "./examples/GetSpecificOperationStatusRunning.json"
          },
          "Get a succeeded operation status": {
            "$ref": "./examples/GetSpecificOperationStatusSucceeded.json"
          },
          "Get a failed operation status": {
            "$ref": "./examples/GetSpecificOperationStatusFailed.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/OperationId"
          },
          {
            "name": "query",
            "in": "query",
            "description": "A string that contains information about a location, such as an address or landmark name.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AsyncBatchOperation"
            }
          },
          "default": {
            "$ref": "../../../Common/stable/2023-06-01/common.json#/responses/default"
          }
        }
      }
    },
    "/asyncBatch/operations": {
      "get": {
        "description": "Get the status of all asynchronous batch operations available to the user.",
        "operationId": "AsyncBatch_GetAllOperations",
        "x-ms-examples": {
          "Get operations with various status": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../Common/stable/2023-06-01/common.json#/parameters/ClientId"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AsyncBatchOperationsList"
            }
          },
          "default": {
            "$ref": "../../../Common/stable/2023-06-01/common.json#/responses/default"
          }
        }
      }
    }
  },
  "definitions": {
    "AsyncBatchOperation": {
      "type": "object",
      "description": "This object is returned from a successful Get Operation request.",
      "properties": {
        "operationId": {
          "description": "Unique identifier for the asynchronous batch operation.",
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "description": "Type of asynchronous batch operation",
          "enum": [
            "Geocode",
            "ReverseGeocode",
            "RouteDirections"
          ],
          "x-ms-enum": {
            "name": "OperationTypeEnum",
            "modelAsString": true,
            "values": [
              {
                "value": "Geocode",
                "description": "Forward geocode asynchronous batch job"
              },
              {
                "value": "ReverseGeocode",
                "description": "Reverse geocode asynchronous batch job"
              },
              {
                "value": "RouteDirections",
                "description": "Route directions asynchronous batch job"
              }
            ]
          }
        },
        "inputBlobUrl": {
          "type": "string",
          "description": "URL to the input blob containing the batch data."
        },
        "linkedResource": {
          "type": "string",
          "description": "The destination where the batch results will be stored. This should be a preconfigured resource in the control plane designated to receive and store the output of the batch processing."
        },
        "msiClientId": {
          "type": "string",
          "description": "Client ID of a user-assigned managed identity. This is used for authentication and authorization purposes. If the managed identity is system-assigned, this field can be null."
        },
        "createdDateTime": {
          "type": "string",
          "description": "Client ID of a user-assigned managed identity. This is used for authentication and authorization purposes. If the managed identity is system-assigned, this field can be null."

        },
        "lastActionDateTime": {
          "type": "string",
          "description": "Timestamp when the operation was created."
        },
        "percentComplete": {
          "type": "integer",
          "description": "Percentage indicating the completion status of the operation."
        },
        "totalItemCount": {
          "type": "integer",
          "description": "Total number of items in the batch operation."
        },
        "status": {
          "type": "string",
          "description": "Current status of the batch operation.",
          "enum": [
            "NotStarted",
            "Running",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "StatusEnum",
            "modelAsString": true,
            "values": [
              {
                "value": "NotStarted",
                "description": "The operation has not started yet."
              },
              {
                "value": "Running",
                "description": "The operation is running."
              },
              {
                "value": "Succeeded",
                "description": "The operation has completed successfully."
              },
              {
                "value": "Failed",
                "description": "The operation has failed."
              },
              {
                "value": "Canceled",
                "description": "The operation has been canceled."
              }
            ]
          }
        },
        "error": {
          "$ref": "../../../../../common-types/data-plane/v1/types.json#/definitions/ErrorDetail"
        }
      }
    },
    "AsyncBatchOperationsList": {
      "description": "This object is returned from a successful Get Specific Operations request.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array containing the details of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AsyncBatchOperation"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The is the link to the next page of the features returned. If it's the last page, no this field."
        }
      }
    }
  }
}
